@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
    color: black;
    background-color: #e9c48a;
}

.techstack-radio div {
    flex-direction: row !important;
    justify-content: start;
}